# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Python-specific files
*.env
*.venv
*.egg-info/
.eggs/

# IDE-specific files
.vscode/
.idea/